/* styling for main html document */
body, html, #root 
{
  height: 100%;
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* for the pokemonTrainer */
.aliceTxt
{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

p
{
  width: 180px;
  border: 3px solid rgb(24, 29, 24);
  padding: 5px;
  margin: 20px;
}


/* pokemon */
button
{
 padding: 0px;
}

.teamDragon
{
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 5px;
  align-items: flex-end;
  justify-content: center;
  height: 220px;
  margin-top: auto
}

.pokemon
{
  width: 200px;
  height: 200px;
}
