.aliceTxt
{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 30px;
}

p
{
  width: 180px;
  border: 3px solid rgb(24, 29, 24);
  padding: 5px;
  margin: 20px;
}

.teamDragon
{
  display: flex;
  flex-direction: row;
  /* padding-left: px; */
  gap: 10px;
}

.pokemon
{
  width: 200px;
  height: 200px;
  border: 3px dotted black;
}
